extends layout

block content
  h1 Sorry

  h2 Looks like we can't access your account on #{currentProvider}.  Maybe try a different one?

  #provider-list
    each provider, name in providers
      a.button(href=provider._entryPath)
        img(src="/_doorman/icons/#{name}.ico.png")
        | Sign in with #{provider.title || name}