doctype html

html(lang="en")
  head
    meta(name="viewport", content="width = device-width")
    title= ["Doorman ", pageTitle].join(" | ")
    link(rel="stylesheet" href="/_doorman/css/main.css")

  body
    #container
      #title
        #logo Doorman
      #main
        block content
        #small-logo
          img(src="/_doorman/images/logo.jpg")
