extends layout

block content
  - if (messages.error)
    h1 Sorry, there was a problem.

    h2.message.error
      = messages.error

  - else
    h1 How may I help you?

    h2 I'm with:

  #provider-list
    each provider, name in providers
      a.button(href=provider._entryPath)
        img(src="/_doorman/icons/#{name}.ico.png")
        | Sign in with #{provider.title || name}