extends layout

block content
  h1 Password login

  form(action="/_doorman/login" method="post")
    if (errors)
      each error in errors
        .error= error
    input(type="hidden" name="login" value="unused")
    label(for="login") Password
    input#login(type="password" name="password" autofocus)
    button.button(type="submit") Submit
