module.exports = {
  // Port that doorman listens on
  port: 8080

  // Uncomment for HTTPS
  // securePort: 443,
  // forceTLS: true,  // Redirect all requests to HTTPS
  // sslProd: true,   // Use Production Let's Encrypt API?
  // certDir: 'certs',
  // adminEmail: 'admin@yourdomain.com'

  // Uncomment for Let's Encrypt debug output
  // debugOutput: true
};
