module.exports = {
  // Port that doorman listens on
  port: 8080

  // Uncomment for HTTPS
  // securePort: 443,
  // sslDomains: ['domainone.com', 'domaintwo.org', 'domainthree.net'],
  // adminEmail: 'admin@yourdomain.com'

  // Uncomment for Let's Encrypt debug output
  // debugOutput: true
};
